Source: wasta-custom-png-uka
Section: utils
Priority: extra
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: wasta-custom-png-uka
Architecture: all
Depends: menu, wasta-core-xenial, ${shlibs:Depends}, ${misc:Depends}
Recommends: wasta-resources-png, wasta-custom-png
Description: wasta-Linux PNG Ukarumpa customization
 Customizes wasta-Linux with PNG Ukarumpa adjustments, including:
    - custom default wasta-menus application list
    - custom gsettings defaults
    - uka-repos.sh to toggle Ukarumpa FTP Repositories in /etc/apt/sources.list
