[Desktop Entry]
Name=Ukarumpa Software Sources
Comment=ENABLE or DISABLE Ukarumpa Software Sources
Exec=su-to-root -X -c wasta-uka-repos
Type=Application
Icon=wasta-linux
Categories=GNOME;GTK;Settings;
